<footer class="footer">
	<div class="group">
		<div class="brand">
			<span class="name">{{@blog.title}}</span>
		</div>
	</div>
	<div class="group">
		<ul class="links">
			<li class="link"><a href="{{@blog.url}}/">Home</a></li>
			<li class="link"><a href="{{@blog.url}}/team">Team</a></li>
			<li class="link"><a href="{{@blog.url}}/about">About</a></li>
			<li class="link"><a href="{{@blog.url}}/about#contact">Contact</a></li>
			<li class="link"><a href="https://scalethat.makerforce.io/">Scalethat</a></li>
		</ul>
	</div>
	<div class="group">
		<ul class="links social">
			<li class="link"><a href="https://twitter.com/makerforceio"><i class="icon-twitter"><span>Twitter</span></i></a></li>
			<li class="link"><a href="https://instagram.com/makerforceio"><i class="icon-instagram"><span>Instagram</span></i></a></li>
			<li class="link"><a href="https://www.youtube.com/channel/UCtcONK2U5n50hQ7Ji0zagvQ"><i class="icon-youtube"><span>YouTube</span></i></a></li>
			<li class="link"><a href="https://github.com/makerforceio"><i class="icon-github"><span>GitHub</span></i></a></li>
			<li class="link"><a href="mailto:contact@makerforce.io?subject=&body=Write%20to%20us%20about%20anything%2C%20even%20to%20just%20say%20hi!"><i class="icon-envelope"><span>Email</span></i></a></li>
			<li class="link"><a href="{{@blog.url}}/rss"><i class="icon-feed"><span>RSS</span></i></a></li>
		</ul>
	</div>
</footer>
