<div class="articles">

	<div class="pagination-top">
		{{pagination}}
	</div>

	{{!-- This is the post loop - each post will be output using this markup --}}
	{{#foreach posts}}
	<article class="article {{post_class}}">
		<h2><a href="{{url}}">{{title}}</a></h2>
		<p>
			{{excerpt words="26"}}
			<a class="read-more" href="{{url}}">&raquo;</a>
		</p>
		<footer class="article-meta">
			{{#author}}
			{{#if image}}
			<img class="author-avatar" alt="{{name}}'s profile" src="{{image}}" width="32" />
			{{/if}}
			<a class="author-name" href="{{url}}">{{name}}</a>
			{{/author}}
			<time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
			<span class="post-tags">&nbsp;{{tags prefix="on "}}</span>
		</footer>
	</article>
	{{/foreach}}

	<div class="pagination-bottom">
		{{pagination}}
	</div>

</div>
