<nav>
	<a href="/">
		<div class="brand">
			<img class="logo" src="//secure.makerforce.io/brand/mark/mark.white.svg" alt="{{@blog.title}}" />
			<span class="name">{{@blog.title}}</span>
		</div>
	</a>
    <ul class="navigation">
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
</nav>
