<nav class="navigation">
	<div class="brand">
		{{#if @site.logo}}
		<a href="{{@site.url}}"><img class="logo" src="{{@site.logo}}" alt="{{@site.title}}" height="48" width="48" /></a>
		{{else}}
		<a href="{{@site.url}}"><img class="logo" src="{{asset "/images/mark.svg"}}" alt="{{@site.title}}" height="48" width="48" /></a>
		{{/if}}
		<!-- for testing <span class="name">{{@site.title}}</span> -->
	</div>
	{{#if @site.navigation}}
	<ul class="links">
		{{#foreach navigation}}
		<li class="link navigation-{{slug}} {{#if current}}current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/foreach}}
	</ul>
	{{/if}}
</nav>
