<!DOCTYPE html>
<html ⚡>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">

	{{!-- The AMP script --}}
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    {{amp_ghost_head}}

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
	<meta name="theme-color" content="#4bb6f6">

    {{!-- Styles'n'Scripts --}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto+Slab:wght@400;700&display=swap">
    <style amp-custom>
{{> style-amp}}
	</style>

    {{!-- The AMP boilerplate --}}
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    {{amp_components}}

</head>

<body class="amp-template">
	
	{{!-- The blog navigation links --}}
	<nav class="navigation">
		<div class="brand">
			{{#if @site.logo}}
				<a href="{{@site.url}}"><amp-img class="logo" src="{{@site.logo}}" alt="{{@site.title}}" height="36" width="36"></amp-img></a>
			{{else}}
				{{@site.title}}
			{{/if}}
		</div>
		{{navigation}}
	</nav>

    {{#post}}
		{{#has tag="#uses-math"}}
			<div class="warning">
				This page makes use of math that may have failed to render. <a href="{{url}}">View it here</a> instead.
			</div>
		{{/has}}

		<main>

			{{#if feature_image}}
				<amp-img class="post-feature-image" src="{{feature_image}}" width="1024" height="1024" layout="responsive"></amp-img>
			{{/if}}

			<article class="post-full {{post_class}}">

				<header>
					<h1>{{title}}</h1>
				</header>

				{{amp_content}}

				<div class="post-meta">
					<footer class="article-meta">
						<span class="authors">
						{{#if authors}}
							{{#foreach authors}}
								<span class="author">
									<a href="{{url}}">
										{{#if profile_image}}
											<amp-img class="author-avatar" alt="{{name}}" src="{{img_url profile_image size="xs"}}" width="32" height="32"></amp-img>
										{{/if}}
										<span class="author-name">{{name}}</a>
									</a>
								</span>
							{{/foreach}}
						{{/if}}
						</span>
						<span class="details">
							<time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix="on "}}
						</span>
					</footer>
				</div>
			</article>

		</main>
    {{/post}}

	{{!-- The blog footer --}}
	<footer class="footer">
		<div class="group">
			<div class="brand">
				<span class="name">{{@site.title}}</span>
			</div>
		</div>
		<div class="group">
			{{navigation type="secondary"}}
		</div>
		<div class="group">
			{{> navigation-social}}
		</div>
	</footer>

</body>
</html>
