{{!< default}}

{{#author}}

<header class="author">
	{{#if image}}
	<img class="author-avatar" alt="{{name}}'s profile" src="{{image}}" width="32" />
	{{/if}}
	<h1 class="author-name">{{name}}</h2>
	{{#if bio}}
	<p class="author-bio">
		{{bio}}
	</p>
	{{/if}}
	<ul class="links inline">
		{{#if website}}
		<li class="link"><a href="{{website}}"><i class="icon-globe"></i></a></li>
		{{/if}}
	</ul>
</header>

{{/author}}

{{> "loop"}}
