{{!< default}}

{{#post}}

<article class="{{post_class}}">
	<header>
		<h1>{{title}}</h1>
	</header>

	{{content}}

	<footer class="article-meta">
		{{#author}}
		{{#if image}}
		<img class="author-avatar" alt="{{name}}'s profile" src="{{image}}" width="32" />
		{{/if}}
		<a class="author-name" href="{{url}}">{{name}}</a>
		{{/author}}
		<time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
		<span class="post-tags">&nbsp;{{tags prefix="on "}}</span>
	</footer>

</article>

{{!-- TODO: Links to Previous/Next posts --}}

{{/post}}
